.body{
    height: 100%;
    background-color: grey;
}

.navBar{
    background-color: rgb(3, 3, 73);
}
.text{
    color: black ;
}

nav a{
    text-decoration: none;
}

.noticia{
    justify-content: center;
}