.divPerfil{
    display: flex;
    flex: wrap;
    background-color: rgb(3, 3, 73);
    align-items: center;
    justify-content: center;
    border-radius: 2%;
    color: white;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    width: 100% !important;
}

.body{
    background-color: grey;
}

.boton{
float: right;
top: 0%;
}

.aclaracion{
    font-weight:lighter;
    font-size: 20px;
    margin: 0px;
}
.value{
    font-size:25px;
    font-weight:400;
}
.MyModal{
    color: white;
}
.modalBody{
    justify-content: center;
    align-items: center;
}

#modalBg{
    background-color: rgb(3, 3, 73);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
