.cita {
    padding: 2rem;
    background-color: rgb(3, 3, 73);
    color: white;
    margin-bottom: 20px;
    border-radius: 20px;
    width: fit-content;
    text-align: center;
    align-items: center;
    justify-content: center;
  }