  .cardListas{
    border-radius: 20px !important;
    padding: 0% !important;
    overflow: hidden !important;
    color: white;
    min-height: 300px;
    width: 500px;
    margin-top: 5%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  }

  .button{
    margin-top: 5px;
  }